@import "tailwindcss";

@theme inline {
  /* Base */
  --color-background: #eeeeee;
  --color-foreground: #323232;

  /* CP Primary Colors */
  --color-cp-sky-blue: #6ec3ee;

  /* CP Secondary Colors */
  --color-cp-pink: #f19ed7;
  --color-cp-light-red: #fae0e0;
  --color-cp-red: #e76266;
  --color-cp-orange: #eea351;
  --color-cp-green: #77c691;
  --color-cp-teal-blue: #2e84b0;
  --color-cp-navy-blue: #4e59af;
  --color-cp-turquoise-blue: #20bbc6;
  --color-cp-blue: #37a7e1;
  --color-cp-deep-blue: #00527b;

  /* CP Neutral */
  --color-cp-white: #ffffff;
  --color-cp-ghost-white: #f8f8f8;
  --color-cp-light-gray: #eeeeee;
  --color-cp-soft-gray: #c1c1c1;
  --color-cp-gray: #969696;
  --color-cp-slate-gray: #6b7280;
  --color-cp-black: #323232;
  --color-cp-dark-blue: #0f4bc5;

  /* CP Toast */
  --color-cp-toast-success-main: #edf9ff;
  --color-cp-toast-success-sub: #6ec3ee;
  --color-cp-toast-warning-main: #fffeed;
  --color-cp-toast-warning-sub: #bf6a02;
  --color-cp-toast-error-main: #ffeded;
  --color-cp-toast-error-sub: #ec221f;

  /* Font Families */
  --font-noto: "Noto Sans JP", sans-serif;

  /* Text styles */
  --headline-cp-l: 700 20px / normal var(--font-noto);
  --headline-cp-m: 700 16px / normal var(--font-noto);
  --headline-cp-s: 400 16px / normal var(--font-noto);

  --title-cp-l: 700 16px / normal var(--font-noto);
  --title-cp-s: 700 14px / normal var(--font-noto);

  --body-cp-l: 700 16px / normal var(--font-noto);
  --body-cp-m: 400 16px / normal var(--font-noto);
  --body-cp-s: 400 14px / normal var(--font-noto);

  --label-cp-l: 700 16px / 16px var(--font-noto);
  --label-cp-m: 400 12px / normal var(--font-noto);
}

@layer components {
  /* Text styles headline */
  .headline-cp-l {
    font: var(--headline-cp-l);
  }
  .headline-cp-m {
    font: var(--headline-cp-m);
  }
  .headline-cp-s {
    font: var(--headline-cp-s);
  }

  /* Text styles title */
  .title-cp-l {
    font: var(--title-cp-l);
  }
  .title-cp-s {
    font: var(--title-cp-s);
  }

  /* Text styles body */
  .body-cp-l {
    font: var(--body-cp-l);
  }
  .body-cp-m {
    font: var(--body-cp-m);
  }
  .body-cp-s {
    font: var(--body-cp-s);
  }

  /* Text styles label */
  .label-cp-l {
    font: var(--label-cp-l);
  }
  .label-cp-m {
    font: var(--label-cp-m);
  }

  /* Search area padding */
  .search-p {
    @apply px-5;
  }
  /* Table area padding */
  .table-p {
    @apply px-5;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-noto);
}
